@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');

@font-face {
    font-family: "Reem Kufi", sans-serif;
    font-style: normal;
    font-weight: 400 500;
    src: url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
}

.reem-kufi-big{
  font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.reem-kufi-small{
    font-family: "Reem Kufi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }